@charset "UTF-8";

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }

    menu > ul > li {
        display: inline-block;
        width: 15vw;
    }

    main {
        width: 768px;
    }
}